body {
    font-family: Arial, sans-serif;
    background-color: #f0e68c;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffeb3b;
    padding: 20px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.contador {
    margin-bottom: 40px;
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
